/* Created by Rob C. de Wit 2021 */
/* Feel free to use this CSS under the Creative Commons Attribution-ShareAlike 4.0 International License. */

body {
	font-family: 'Source Sans Pro', sans-serif;
	color: #151515;
	background-color:#fefefe;
	margin: auto;
	max-width: 1140px;
}

h1 {
	font-family: 'Merriweather', serif;
	font-size: 300%;
	/* margin-bottom: -10px; */
	margin: 0 0 0.2em;
}

h2 {
	font-family: 'Merriweather', serif;
	font-size: 150%;
	margin: 0rem 0 0.5em;
}

p {
	margin-bottom: 1em;
	line-height: 1.5;
}
span {
	line-height: 1.5;
	display: block;
}

ul {
	list-style: none;
    padding-left: 0;
}

li {
	margin-bottom: 0.2rem;
	line-height: 1.5;
}

li span.timetable-time {
	display: inline;
	margin-right: 1rem;
	font-weight: bold;
}

li span.timetable-entry {
	display: inline;
	margin-right: 2rem;
}

a:link {
	color: #f04;
}

a:hover, a:visited  {
	color: #7209b7;
}

.container {
	text-align: left;
	margin: 5%;
}

.column#left {
	text-align: center;
	margin-bottom: 3.5em;
}

.column#left img.couple-picture {
    width: 100%;
    max-width: 400px;
    margin: 0 0 1.5em;
    border-radius: 8px;
}

.entry {
	margin-bottom: 2.5em;
}

.highlight {
	margin-top: 3rem;
	padding: 1rem;
	background-color:#eaeaea;
	border-radius: 8px;
}

@media only screen and (min-width: 1140px) {
	.container {
		display: flex;
		margin: 3%
	}

	.column#left {
			flex: 0 0 30%;
			margin-right: 4em;
	}

	.column#right {
		flex: 0 0 600px;
	}
}

.form-container {
	line-height: 1.5rem;
}

.form-container label {
	display: block;
}

.form-container .row label {
	display: block;
}

.form-container .row input {
	display: block;
}